
@{
    ViewBag.Title = "Create";
}
<a style="margin-bottom:90px" href="@Url.Action("Index")" class="btn btn-outline-primary">Index Geri Don</a>
<form method="post">

    <div class="form-group">
        <label for="Name">Ad</label>
        <input type="text" name="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Name">Soyad</label>
        <input type="text" name="Surname" class="form-control" />
    </div>

    <button type="submit" class="btn btn-info">Yenile</button>
</form>


